
.loader-container {
    width: 200px;
    margin: 30px;
    position: relative;
    border: 2px outset #ff6600;
    border-radius : 20px;
    padding:25px;
    background-image: linear-gradient(to top, #070707, #171717);
    box-shadow: 0px 0px 20px 5px #ff6600, inset 0px 2px 6px #ff6600;
}



.logo-path {
    stroke: #66ccff;
    stroke-miterlimit: 10;
    fill: url(#grad1);
}

#logo{
cursor:pointer;
}

.loading-col {
    overflow: hidden;
   position:relative;
   z-index:2;
}

/*

#bar {
    position:relative;
    width:150px;
    height:20px;
    border-radius:5px;
    margin-top:40px;
    font-size:12px;
    border:1px outset white;
    padding:1px;
}

#start-button {
    opacity: 1;
    font-size: 2rem;
    font-weight: bold;
    background-color:#000;
    color:  #ff6600;
    z-index: 2;
    text-align: center;   
    border-radius : 20px;
    cursor: pointer;
    transition: opacity 1.5s ease-in;
    transition: box-shadow 0.5s ease-out;
    padding:30px;
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #070707, #171717);
    box-shadow: 0px 3px 8px #ff6600, inset 0px 2px 6px #ff6600;
    border: 2px outset #ff6600;
}
/*

#start-button:hover {
    box-shadow: 0px 0px 15px 10px  #ff6600;
}

#progress {
    width:30%;
    height:80%;
position:absolute;
left:40%;
top:10%;
line-height:1.5;
color: #000;
}

#inside-bar {
    width:0%;
    height:98%;
    background-color:#FFF;
    border-radius:5px;
}
*/

@media Screen and (max-width:600px) {
    .loader-container {
        width: 60vw;
    }
}