
.loader-container {
    width: 200px;
    margin: 30px;
    position: relative;
    border: 2px outset #ff6600;
    border-radius : 20px;
    padding:25px;
    background-image: linear-gradient(to top, #070707, #171717);
    box-shadow: 0px 0px 20px 5px #ff6600, inset 0px 2px 6px #ff6600;
}

.cls-1 {
    stroke: #66ccff;
    stroke-miterlimit: 10;
    fill: url(#grad1);
}

#logo{

}

.loading-col {
    overflow: hidden;
}

#start-button {
    opacity: 1;
    font-size: 2rem;
    font-weight: bold;
    background-color:#000;
    color:  #ff6600;
    z-index: 2;
    text-align: center;   
    border-radius : 20px;
    cursor: pointer;
    transition: opacity 1.5s ease-in;
    transition: box-shadow 0.5s ease-out;
    padding:30px;
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #070707, #171717);
    box-shadow: 0px 3px 8px #ff6600, inset 0px 2px 6px #ff6600;
    border: 2px outset #ff6600;
}


#start-button:hover {
    box-shadow: 0px 0px 15px 10px  #ff6600;
}



@media Screen and (max-width:600px) {
    .loader-container {
        width: 60vw;
    }
}