.loading-box {
    height: 30px;
    width: 1px;
    background-color:#FFF;
    border: inherit;
}

.loader-container {
    width: 100px;
    margin:30px;
    position:relative;
}


.cls-1 {
    stroke:#FFF;
    stroke-miterlimit:10;
    fill:url(#grad1);
}

#logo{
   
}

#start-button {
    opacity:0;
    font-size:2rem;
    font-weight:bold;
    width: 300px;
    height:70px;
    text-shadow: 2px 2px #000;
    z-index:2;
    text-align:center;
    box-shadow:2px 2px 5px 5px  #66ccff;
    cursor:pointer;
    transition:opacity 1.5s ease-in;
    transition:box-shadow 0.5s ease-out;
    background-color:#66ccff;;
   margin-top:30px;
    
}
#start-button > div {
    width:100%;
    height:100%;
    background-color:#000;
    mix-blend-mode: hard-light ;
}
#start-button:hover {
    box-shadow:2px 2px 15px 10px  #66ccff; 
}

@media Screen and (max-width:600px) {
    .loader-container {
        width: 60vw;
    }
}
