.loading-box {
    height: 30px;
    width: 1px;
    background-color:#FFF;
    border: inherit;
}

.loader-container {
    width: 200px;
    margin:30px;
    position:relative;
}

#progress {
    position:absolute;
    top:40%;
    left:19%;
    color: #FFF;
    
}

.cls-1,
.cls-2 {
    stroke: #FFF;
    stroke-miterlimit: 10;
    fill:url(#grad1);
}


@media Screen and (max-width:600px) {
    .loader-container {
        width: 60vw;
    }
}
