
.loader-container {
    width: 200px;
    margin: 30px;
    position: relative;
    border: 5px solid #ff6600;
    border-radius : 20px;
    padding:25px;
}

.cls-1 {
    stroke: #66ccff;
    stroke-miterlimit: 10;
    fill: url(#grad1);
}

#logo {}

.loading-col {
    overflow: hidden;
}

#start-button {
    opacity: 1;
    font-size: 2rem;
    font-weight: bold;
    background-color:#000;
    color:  #ff6600;
    z-index: 2;
    text-align: center;
    border: 5px solid #ff6600;
    border-radius : 20px;
    cursor: pointer;
    transition: opacity 1.5s ease-in;
    transition: box-shadow 0.5s ease-out;
    padding:30px;
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#start-button:hover {
    box-shadow: 0px 0px 15px 10px  #ff6600;
}



@media Screen and (max-width:600px) {
    .loader-container {
        width: 60vw;
    }
}