.technologies-container {
    position: relative;
    min-height:810px;
}

#tech-icons-container {
    position: "absolute";
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px 1px inset #FFF;
    border-radius:30px;
}