.technologies-container {
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.tech-icons-container {
  
}

.tech-svg-container {
    width:100%;
    height:100%;
}