.under-construction {
    animation: moveUnder 2s ease-in-out infinite;
}

@keyframes moveUnder {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2); 
    }

    100% {
        transform: scale(0.7);
    }
}