#left-navbar {
    top: 0;
    box-shadow: 0px -3px 8px #ff6600, inset 0px 2px 10px #ff6600;
    border-right: 2px outset #ff6600;
    height: 100%;
    width: 520px;
    position: fixed;
    z-index: 30;
    background-color: black;
    color: #66ccff;
    cursor: -webkit-grab;
}
#left-navbar:active {
    cursor: -webkit-grabbing;
    box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.4);
  }
  #nav-container {
      width:170px !important;
      height:100%;
  }
  #left-navbar > * {
    
  }

#left-navbar > canvas {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

#left-nav-arrow {
    fill: white;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 100%;
    cursor: pointer;
    transform: rotate(90deg);
}


#nav-controls {
    height: 10%;
}
#nav-menu {
    height: 70%;
    position: relative;
}

#nav-contacts {
    height: 20%;
    font-size: 25px;
}

#here-img {
    width: 71px;
    position: absolute;
    bottom: 43px;
    left: 49.5px;
    visibility: hidden;
}

@media Screen and (max-width:768px){

    #nav-menu {
        font-size:1rem;       
    }
    
    #here-img {
    visibility:visible;
    }
}

@media Screen and (max-height:300px){

    #nav-controls {
        height: 50%;
    }
    #nav-menu {
        height: 0%;
        font-size:0;
    }
    
    #nav-contacts {
        height: 50%;
        font-size: 25px;
    }
    #here-img {
        display:none;
        }
}