#left-navbar {
    top: 0;
    left: 0;
    border-right: 3px outset #ff6600;
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 30;
    background-color: black;
    transition: left 0.5s ease-in-out;
    color: #66ccff;
}

.nav-container {
    position: relative;
}

#left-nav-arrow {
    fill: white;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 100%;
    cursor: pointer;
    transform: rotate(90deg);
}


#nav-controls {
    height: 10%;
}
#nav-menu {
    height: 70%;
    position: relative;
}

#nav-contacts {
    height: 20%;
    font-size: 25px;
}

#here-img {
    width: 71px;
    position: absolute;
    bottom: 43px;
    left: 49.5px;
    visibility: hidden;
}

@media Screen and (max-width:768px){

    #nav-menu {
        font-size:1rem;       
    }
    
    #here-img {
    visibility:visible;
    }
}

@media Screen and (max-height:300px){

    #nav-controls {
        height: 50%;
    }
    #nav-menu {
        height: 0%;
        font-size:0;
    }
    
    #nav-contacts {
        height: 50%;
        font-size: 25px;
    }
    #here-img {
        display:none;
        }
}