#pic-container {
    width: 99%;
    position: relative;
}

#my-pic {
    object-fit: cover;
    width: 100%;
    clip-path: circle(33% at 60% 50%);
    padding: 0 !important;
    margin: 0 !important;
    filter: grayscale(1);
}

#filter {
    width: 100%;
    height: 100%;
    background-color: rgba(153, 73, 12, 0.419);
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
   
}

#filter::after {
    content:"";
    width:4px;
    height:100%;
    background-color:black ;
    opacity:0.5;
    position:absolute;
    right:0;
    mix-blend-mode: darken;
}
#about-text {
    width: 100%;
}