#my-pic {
    object-fit: cover;
    width: 90%;
    height: 79%;
clip-path: circle(35% at 60% 50%);
padding:0 !important;
margin:0 !important;
}

#my-pic-mask {
    object-fit: cover;
    width: 90%;
    height: 79%;
clip-path: circle(35% at 60% 50%);
padding:0 !important;
margin:0 !important;
filter:sepia(1);
position:absolute;
top:19%;
left:4%;
}

#about-text {
    height:19%;
}