#pic-container {
    width: 99%;
    position: relative;
    display:flex;
    justify-content: center;
   padding-top:50px;
 
}

#my-pic {
    object-fit: cover;
    width: 90%;
    padding: 0 !important;
    margin: 0 !important;
    filter: grayscale(1);
    user-select:none;
    touch-action:none;
}

#filter {
    width: 100%;
    height: 100%;
    background-color: rgba(153, 73, 12, 0.419);
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
    border-right:4px inset rgba(0,0,0,0.3);
    user-select:none;
}

#about-text {
    width: 100%;
}