#right-navbar {
    top: 0;
    right: 0;
    border-left: 3px outset #ff6600;
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 30;
    background-color: black;
    transition: right 0.5s ease-in-out;
    color: #66ccff;
}

.nav-container {
    position: relative;
}

#right-nav-arrow {
    fill: white;
    width: 30px;
    position: absolute;
    top: 50%;
    right: 100%;
    cursor: pointer;
    transform: rotate(90deg);
}
