#right-navbar {
    top: 0;
    right: 0;
    box-shadow: 0px 3px 8px #ff6600, inset 0px 2px 10px #ff6600;
    border-left: 2px outset #ff6600;
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 30;
    background-color: black;
    transition: right 0.5s ease-in-out;
    color: #66ccff;
    
}


#right-nav-arrow {
    fill: white;
    width: 30px;
    position: absolute;
    top: 50%;
    right: 100%;
    cursor: pointer;
    transform: rotate(90deg);
}

#right-navbar > canvas {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}