#right-navbar {
    top: 0;
    box-shadow: 0px 3px 8px #ff6600, inset 0px 2px 10px #ff6600;
    border-left: 2px outset #ff6600;
    height: 100%;
    width: 520px;
    position: fixed;
    z-index: 30;
    background-color: black;
    color: #66ccff;
    cursor: -webkit-grab;
    will-change: transform;
}


#right-nav-arrow {
    fill: white;
    width: 30px;
    position: absolute;
    top: 50%;
    right: 100%;
    cursor: pointer;
    transform: rotate(90deg);
}

#right-navbar > canvas {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
}

#right-navbar:active {
    cursor: -webkit-grabbing;
    box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.4);
  }
  
  #right-navbar > * {
    pointer-events: none;
  }
  
  #nav-controls {
    height: 10%;
}