#container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0 !important;
    isolation: isolate;
}


#arrow-down {
   
    width:80px;
    fill: white;
    z-index: 50;
    position: fixed;
    bottom: 30px;
    left:50%;
    margin-left:-40px;
    cursor:pointer;
}
#arrow-up {
   
    width:80px;
    fill: white;
    z-index: 50;
    position: fixed;
    top: 30px;
    left:50%;
    margin-left: -40px;
    cursor:pointer;
}


.full-height {
    height:100vh;
}

#home-window {
    visibility:hidden !important;
    opacity:0 !important;
    height:100vh;
}

.navbar {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 30;
    background-color: black;
    transition: left 0.5s ease-in-out;
    color: #66ccff;
}

@media Screen and (max-width:800px){
    #arrow-down {
   
        width:10%;
        fill: white;
        z-index: 50;
        position: fixed;
        bottom: 30px;
        left:50%;
        margin-left:-5%;
        cursor:pointer;
    }
    #arrow-up {
       
        width:10%;
        fill: white;
        z-index: 50;
        position: fixed;
        top: 30px;
        left:50%;
        margin-left: -5%;
        cursor:pointer;
    }
}