

#container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0 !important;
    isolation: isolate;
    touch-action:none;
}

.full-height {
    height:100vh;
}


.code-container { 
    width:98%;
    border-radius:20px;
    z-index:-1 !important;
    color:white !important;
}

.navbar {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 30;
    background-color: black;
    transition: left 0.5s ease-in-out;
    color: #66ccff;
}

.window-text {
    position:relative;
    width: 100%;
    min-height:100px;
}