#container {
   position:absolute;
   top:0;
   left:0;
   z-index: 0 !important;
   
}

#main-row {
min-height:100vh;  
}

#dummy{
    position:absolute;
    top:30%;
    left:25%;
}

.central-body{
    opacity:0.9;
    height:400px;
    z-index:10;
    }