#container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0 !important;
    isolation: isolate;
}

.central-body-left {
    opacity: 0;
    height: 100%;
    z-index: 10;
    transform: translateX(-200%);
    pointer-events: none;
}

.central-body-right {
    opacity: 0;
    height: 100%;
    z-index: 10;
    transform: translateX(200%);
    pointer-events: none;
}

#arrow-down {
    width: 10%;
    fill: white;
    z-index: 50;
    position: fixed;
    bottom: 30px;
    left: 45%;
    cursor:pointer;
}
#arrow-up {
    width: 10%;
    fill: white;
    z-index: 50;
    position: fixed;
    top: 30px;
    left: 45%;
    cursor:pointer;
   
}


.full-height {
    height:100vh;
}

#home-window {
    visibility:hidden !important;
    opacity:0 !important;
    height:100vh;
}

.navbar {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 30;
    background-color: black;
    transition: left 0.5s ease-in-out;
    color: #66ccff;
}