.window {
    min-height:100vh;
    /*opacity:0;*/
    border: 4px solid #ff6600;
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 0px 3px 8px #ff6600, inset 0px 2px 10px #ff6600;
    border: 2px outset #ff6600;
    position: relative;
    z-index: 1;
    background-color:rgb(16, 16, 16);
    overflow:hidden;
   
}

/*
.window:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(7, 7, 7, 0.7), rgba(17, 17, 17, 0.7));
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0px 3px 8px #ff6600, inset 0px 2px 10px #ff6600;
}
*/


.window > canvas {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    border-radius:20px;
    pointer-events:none;
}