

.window{  
    background-color:rgba(0,0,0,0.7);
    min-height:100vh !important;
    transform: scale(1);
    height: 100%;
    z-index: 10;  
    border: 4px solid #ff6600;
    margin-top:30px;
    border-radius:20px;
    transform-style: preserve-3d;
}