.window-container {
    margin:0;
    z-index: 1;
}

.window {
    min-height:100vh;
    background:red;
    border: 4px solid #ff6600;
    border-radius: 20px;
    box-shadow: 0px 3px 8px #ff6600, inset 0px 2px 10px #ff6600;
    border: 2px outset #ff6600;
    position: relative;
    z-index: 1;
    background-color:rgb(16, 16, 16);
    overflow:hidden;
    touch-action:none;
    cursor:-webkit-grab;
    pointer-events:auto;
}


.window:active{
    cursor:-webkit-grabbing;
    }
    


.window > canvas {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    border-radius:20px;
    pointer-events:none;
    touch-action:none;
}


  
 @media Screen and (max-width:800px){
     .window {
    height:auto;
    overflow-y:hidden;
     }
 }